app-banner {
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  &__tabs {
    margin-top: 20px;
    width: 800px;
  }

  &__content {
    margin-top: 20px;
    width: 800px;
  }

  &__articles {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
