<div class="home">
  <app-banner />
  <div class="home__tabs">
    <app-tabs>
      <app-tab> Global Feed </app-tab>
    </app-tabs>
  </div>
  <div class="home__content">
    @let articlesData = articlesData$ | async;

    @if (error()) {
      <p class="home__error">{{ error() }}</p>
    } @else if (articlesData?.articles) {
      @if (articlesData?.articlesCount) {
        <div class="home__articles">
          @for (article of articlesData.articles; track article.slug) {
            <app-article-card [article]="article" />
          }
        </div>
      } @else {
        <p class="home__empty">No articles are here... yet.</p>
      }
    } @else {
      <p class="home__loading">Loading articles...</p>
    }
  </div>
</div>
